@import "tailwindcss";

:root {
  --color-fondo: 241 240 241;
  --color-texto: 3 5 3;
}

[data-theme='dark'] {
  --color-fondo: 19, 23, 19;
  --color-texto: 240, 240, 241;
}

/* Scrollbar */
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 2px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #292e2986;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background: #292e29;
    border-radius: 10px;
  }
}

body {
  background-color: rgb(var(--color-fondo));
  color: rgb(var(--color-texto));
  transition: background-color 0.3s, color 0.3s;
  background-image: url('/img/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1, h2, h3, a {
  font-family: var(--font-merriweather-sans);
}

p, span, li {
  font-family: var(--font-inter);
}
